<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 스프링 부트 기본 표준 로그 패턴으로 변경 -->
    <property name="LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} %5level --- [%thread] %-40logger{36} [%class:%line] : %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/collector.log</file>
        <append>false</append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>